.container {
	position:absolute;
	 top: 50%;
	 left: 50%;
	 width:42em;
	 height:26em;
	 margin-top: -13em; 
	 margin-left: -21em; 
	 border: 1px solid #ccc;
	 background-color: white;

}

.left {
	background-color: green;
	position: absolute;
	left: 0;
	top: 0;
	right: 50%;
	height: 100%;

}

.center {

	width: 250px;
	height: 250px;
	transform: rotate(205deg);
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: 20%;
	right: -30%;

}

.incenter {
	overflow: hidden;
	position: absolute;
	left: -5px;
	top: 45px;
	overflow: hidden;
	width: 190px;
	height: 190px;
	transform: rotate(135deg);
	background-color: white;
	border-radius: 50%  50%  50%  50%  / 50%   50%   50%  50%;
}

.incenter1 {
	position: absolute;
	top: 10%;
	right: 28%;
	height:100px;
	width:200px;
	transform: rotate(-70deg);
	border-radius: 90px 90px 0 0;
	background:green;
}


.star {
   margin: 50px 0;
   position: absolute;
   top: 34px;
   left: 77px;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  40px solid transparent;
   border-bottom: 20px  solid red;
   border-left:   50px solid transparent;
   transform:      rotate(221deg);
}
.star.before {
   border-bottom: 20px solid red;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: 43px;
   left: 75px;
   display: block;
   content: '';
   transform:      rotate(290deg);

}
.star.after {
   position: absolute;

   display: block;
   color: red;
   top: 47px;
   left: 70px;
   width: 0px;
   height: 0px;
   border-right: 50px solid transparent;
   border-bottom: 20px solid red;
   border-left: 40px solid transparent;
   transform:      rotate(-362deg);
   content: '';
}


	




